MONGODB_HOST=""
MONGODB_DB=""
MONGODB_USR=""
MONGODB_PWD=""

NODE_ENV="development"

TELEGRAM_API_ID="" # https://my.telegram.org/
TELEGRAM_API_HASH="" # https://my.telegram.org/
TELEGRAM_BOT_TOKEN="" # @BotFather